body
{
    background-color: black;
}

@font-face {
    font-family: 'GeneralSansBold';
    src: url('./GeneralSans/GeneralSans-Bold.otf');
}

@font-face {
    font-family: 'GeneralSans';
    src: url('./GeneralSans/GeneralSans-Regular.otf');
}

.text
{
    font-family: 'GeneralSansBold';
    color:white;
    text-align: center;
}

#by-text
{
    font-family: 'GeneralSans';
}

#interface
{
    margin: 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#controls
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#grid-size-input
{
    text-align: center;
}

#grid-size-mod
{
    display: flex;

}

button
{
    cursor: pointer;
}


#sketch-board
{
    background-color: white;
    display: flex;
}

.board-row
{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.board-cell
{
    padding: 0px;
    border: 0px;
    width: 5px;
    height: 5px;
    background-color: white;
    margin: 2px;
    cursor:default;
}

button
{
    width: 250px;
    border: 1px;
    border-style:solid;
    border-color: white;
    background-color: black;
    border-radius: 15px; 
    margin: 10px;  
    font-family: 'GeneralSans'; 
    color: white;
    font-size: 20px;
}

input{
    margin: 10px;
    font-family: 'GeneralSans';
    font-size: 20px;
}