body
{
    background-color: black;
}

@font-face {
    font-family: 'Sinistre';
    src: url('./Sinistre/Sinistre-S†Caroline.otf');
}

.text
{
    font-family: 'Sinistre';
    color:white;
    text-align: center;
}

#interface
{
    margin: 10em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button
{
    cursor: pointer;
}

#sketch-board
{
    display: flex;
}

.board-row
{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.board-cell
{
    padding: 0px;
    border: 0px;
    width: 5px;
    height: 5px;
    background-color: white;
    margin: 2px;
}